<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/profile.sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="sidebar">
    <a href="../View/dvr_ride.php"><i class="fa fa-send-o"></i> Available Orders</a>
    <a href="../Controller/changepw.php"><i class="fa fa-fw fa-wrench"></i> Change Pasword</a>
    <a href="../Controller/changePic.php"><i class="fa fa-image"></i> Change Picture</a>
    <a href="../Controller/history_ride.php"><i class="fa fa-car"></i> Ride History</i></a>
    <a href="../Controller/history_payment.php"><i class="fa fa-money"></i> Payment History</i></a>
  </div>
  </body>
</html>
