<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/jobs.css">
    <link rel="stylesheet" href="css/serchbar.css">
  </head>
  <body>

  <div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <div class="serbar">
     <div class="sub">
       <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
       <ul id="myMenu">
         <li><a href="job.php">ALL</a></li>
         <li><a href="dhaka.php">Dhaka</a></li>
         <li><a href="chittagong.php">Chittagong</a></li>
         <li><a href="rangpur.php">Rangpur</a></li>
         <li><a href="#">Rajshahi</a></li>
         <li><a href="#">Sylhet</a></li>
         <li><a href="#">Mymensingh</a></li>
         <li><a href="#">Khulna</a></li>
         <li><a href="#">Barisal</a></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="icon">
   <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Location</span>
 </div>


  </body>
</html>
