

.body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin: auto;
  width: 420px;
  padding: 20px;
  border-top: 200px solid rgb(255, 255, 255);

}

#text{
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
  color: azure;
}
#button{
  padding:10px;
  width: 100px;
  color: white;
  background-color: #1E74FF;
  border: none; 
}

#box{
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 margin: auto;
 width: 500px;
padding: 20px;
}